dis:compile:
  stage: compile
  extends: .compile_benchmark
  script:
    - compile_analyses.py dis

dis:generate:
  stage: generate
  extends: .phy_benchmark
  needs: ["common:detector", "dis:compile"]
  parallel:
    matrix:
      - EBEAM: 5
        PBEAM: 41
        MINQ2: 1
      - EBEAM: 10
        PBEAM: 100
        MINQ2: 1
      - EBEAM: 18
        PBEAM: 275
        MINQ2: 1
  timeout: 1 hours
  script:
    - bash benchmarks/dis/get.sh --config dis_${EBEAM}x${PBEAM}_minQ2=${MINQ2} --ebeam ${EBEAM} --pbeam ${PBEAM} --minq2 ${MINQ2}

dis:simulate:
  stage: simulate
  extends: .phy_benchmark
  needs: ["dis:generate"]
  parallel:
    matrix:
      - EBEAM: 5
        PBEAM: 41
        MINQ2: 1
      - EBEAM: 10
        PBEAM: 100
        MINQ2: 1
      - EBEAM: 18
        PBEAM: 275
        MINQ2: 1
  timeout: 2 hour
  script:
    - bash benchmarks/dis/dis.sh --config dis_${EBEAM}x${PBEAM}_minQ2=${MINQ2} --ebeam ${EBEAM} --pbeam ${PBEAM} --minq2 ${MINQ2}
  retry:
    max: 2
    when:
      - runner_system_failure

dis:results:
  stage: collect
  needs: ["dis:simulate"]
  script:
    - collect_tests.py dis
